
.slide1 {
    background: url('../images/slide1/BG_GOOD.png');
    height: 100vh;
}


.donate_btn {
    width: 228px;
    height: 71px;
    background: url('../images/btn/DONATE_BUTTON.png');
    position: fixed;
    bottom: 0;
    right: 10px;
}
